body {
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.header {
    background: rgba(0, 0, 0, 0.41);
    padding: 1px;
    background-size: cover;
}

.container {
    width: 1210px;
    margin: 15px auto;
}

.logo-journey {
    font-family: Verdana;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
a:link {
    text-decoration: none;
}

#icons {
    position: relative;
    bottom: 36px;
    margin-left: 840px;
}

#icons li {
    list-style: none;
    position: absolute;

}

#icons li, #icons a {
    height: 20px;
    display: block;
}


#calendar {
    left: 0px;
    width: 19px;
    background: url("../images/ic_sprites_hover.png") -13px -13px;
}

#forum {
    left: 46px;
    width: 28px;
    background: url("../images/ic_sprites_hover.png") -58px -13px;
 }

#journey {
    left: 99px;
    width: 20px;
    background: url("../images/ic_sprites_hover.png") -112px -13px;
}

#calendar a:hover {
    background: url("../images/ic_sprites_hover.png") -13px -33px;
}

#forum a:hover {
    background: url("../images/ic_sprites_hover.png") -58px -33px;
}

#journey a:hover {
    background: url("../images/ic_sprites_hover.png") -112px -33px;
}

.welcome {
     font-family: Verdana;
     font-size: 14px;
     color: #fff;
     position: absolute;
     top: 19px;
     margin: 0;
     margin-left: 985px;
     padding-left: 24px;
     border-left: 1px Solid #33312e;
 }

.log_in {
    color: #3cb878;
}

.log_in:hover {
    border-bottom: 1px solid #3cb878;
}

.logo-journey:hover  {
    color: #3cb878;
}


.center-form {
    position: relative;
    width: 1210px;
    height: 768px;
    background-size: cover;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.all-block {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    border: 0px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -270px;
    left: 50%;
    margin-left: -205px
}

.main-block {
    width: 323px;
    margin: 0 auto;
}

.sing-up {
    font-family: Verdana;
    color: #434343;
    font-size: 20px;
    margin-top: 26px;
}

.log_in-block {
    font-family: Verdana;
    color: #3cb878;
    font-size: 14px;
    margin-left: 192px;
}

.log_in-block:hover {
    border-bottom: 1px solid #3cb878;
}

.button-f-g {
    display: flex;
    margin-top: 20px;
    height: 46px;
}

.button-facebook {
    background-color: #305db8;
    border-radius: 3px;
    margin-right: 11px;
    padding-top: 13px;
    text-align: center;
}

.button-facebook:hover  {
    background-color: #264b96;
}

.vertical-line-f:hover  {
    color: #224387;
}


a.facebook {
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 19px;
    padding-right: 26px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
}

.vertical-line-f {
    color: #2b54a5;
    margin: 0 5px;
}

.button-google {
    background-color: #df4a32;
    border-radius: 3px;
    padding-top: 13px;
    text-align: center;
}

.button-google:hover {
    background-color: #c3412c;
}

a.google {
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 27px;
    padding-right: 27px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
}

.vertical-line-g {
    color: #c8422d;
    margin: 0 4px;
}

.block-line {
    padding-top: 10px;
    padding-bottom: 15px;
}

.or {
    font-family: Verdana;
    color: #848484;
    font-size: 14px;
    margin-left: 157px;

}
.hr-left {
    position: relative;
    top: 18px;
}

.hr-right {
    margin-top: -9px;
}

.login-text-field {
    width: 306px;
    height: 43px;
    margin-left: 60px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 9px;
}

.login-text-field::placeholder {
    font-family: Verdana;
    color:  #bebebe;
    font-size: 14px;
}

#name {
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
    padding-left: 18px;

}

#name:focus {
    outline: none;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.check-box {
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
}

.terms {
    font-family: Verdana;
    color: #3cb878;
    font-size: 14px;
}

.terms:hover {
    border-bottom: 1px solid #3cb878;
}

.check-box {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    padding-top: 3px;
    margin-left: 60px;
    margin-top: 9px;

}

.check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.check-box input:checked ~ .checkmark {
    background-color: #fff;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

check-box input:checked ~ .checkmark:after {
    display: block;
}


.check-box .checkmark:after {
    left: 13px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.button-create {
    text-align: center;
    margin-top: 25px;
    margin-left: 60px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    background: #3cb878;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 101px;
    padding-right: 101px;
}

.button-create:hover {
    background: #329a65;
}
